.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  cursor: grab;

  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: unset;
    height: unset;
    visibility: hidden;
  }
 
  .visible {
    visibility: unset;
  }
}

.grid {
  gap: 2rem;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
}