.container {
  display: none;
}

// there isn't a real way to see if the user has a physical keyboard
// but this will only show keyboard shortcuts if the user has the 
// ability to hover and a proper cursor, which might be good enough.
@media (hover: hover) and (pointer: fine) {
  .container {
    display: unset;
  }
}

.legends {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  white-space: nowrap;

  kbd {
    background-color: var(--bs-body-color);
    color: var(--bs-body-bg);
  
    border-radius: 0.25rem;
  
    border: 1px solid #ccc;
    box-shadow: 0 2px 0 1px #ccc;
  
    cursor: default;
  
    font-family: var(--bs-font-sans-serif);
    font-size: 0.8em;
  
    line-height: 1;
  
    min-width: 0.8rem;
    display: inline-block;
    text-align: center;
    padding: 2px 5px;
    position: relative;
    top: -1px;

    margin-right: 0.5rem;
    user-select: none;
  }
}