.icon {
  height: 0.7rem;
  width: auto;
  vertical-align: text-top;
  fill: var(--bs-list-group-color);
  fill-rule: nonzero;
  margin-left: 3px;
  pointer-events: all;
}

.noise {
  visibility: hidden;
}

.on {
  visibility: visible;
  opacity: 0.3;
}