.container {
  text-align: center;
  position: relative;
}

.level {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  font-size: 8px;
  padding: 2px;
  min-width: 15px;
  font-weight: bold;
}